<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Logoipsum</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script
      src="https://kit.fontawesome.com/1c3d6e3766.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="images" href="../assets/logo/vector.css" />
  </head>
  <body>
    <!--header :home...-->
    <header class="header-top">
      <div class="header-area">
        <div class="logo-nom">
          <img src="../assets/logo/Vector.jpg" alt="logo de site_web" />
          <a href="#">Logoipsum<br />.com</a>
        </div>

        <div class="div-list-header">
          <ul class="list-header">
            <li>
              <a class="action" aria-label="home" href="index.html">HOME</a>
            </li>
            <li>
              <a class="action" aria-label="proprties" href="proprtie.html"
                >PROPERTIES</a
              >
            </li>
            <li>
              <a class="active" aria-label="blogs" href="blog.html">BLOG</a>
            </li>
            <li>
              <a class="action" aria-label="contact" href="contact.html"
                >CONTACT</a
              >
            </li>
            <li class="button-login"><a href="#">LOG IN</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!--fin de header-->
    <!--debu de blog-->
    <div id="blog" class="blog">
        <div class="container-blog"> 
          <div class="section-header">
            <h2>News and Articles</h2>
            <p>Always up to date with our latest News and Articles</p>
          </div>
          <div class="blog-content">
            <div class="single-blog-item">
              <div class="single-blog-item-img">
                <img src="/assets/images/blog/image (1).jpg" alt="blog image" />
              </div>
              <div class="single-blog-text">
                <p> Cette location n'est pas disponible à la réservation sur Tripadvisor, mais vous avez d'autres options</p>
              </div>
            </div>
            <div class="single-blog-item">
              <div class="single-blog-item-img">
                <img src="/assets/images/blog/image (2).jpg" alt="blog image" />
              </div>
              <div class="single-blog-text">
                <p>Cet hôtel est situé dans une demeure d'armateur du XVIIIe siècle,<br> sur le vieux port de La Rochelle. Le chef Christopher Coutanceau et le sommelier Nicolas Brossard y ont créé une petite escapade extraordinairement élégante, un hôtel dont les 11 chambres et suites combinent des influences Art déco et maritimes.</p>
              </div>
            </div>
            <div class="single-blog-item">
              <div class="single-blog-item-img">
                <img src="/assets/images/blog/image (3).jpg" alt="blog image" />
              </div>
              <div class="single-blog-text">
                <p>The village of Axos feels eons away from the coastal resorts and has all the treats to offer as a result.

                    Yakinthos Archontiko Manias, is special, as are the views from it, the produce provided for your breakfast, the many historical, archaeological or cultural interests (your hosts will tell you where) nearby, traditional hospitality.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <!--fin de blog-->
    <footer class="footer">
        <div class="footer-1">
          <div class="part1-footer">
            <!--logo et nome -->
            <div class="logo-nom">
              <img src="/assets/logo/Vector.jpg" alt="logo de site_web" />
              <a href="#">Logoipsum.com</a>
            </div>
            <div class="paragraph">
              <p class="paragraph-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut
                enim ad minim veniam, quis nostrud exercitation ullamco<br> laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <div class="res_shocial">
              <ul class="list-shocial">
                      <li class="li-shocial" ><a  style="color: blue;" aria-label="facebouk" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                      <li  class="li-shocial"  ><a style="color: rgba(35, 26, 150, 0.616);"  aria-label="X" href="https://x.com/"><i class="fa-brands fa-twitter"></i></a></li>
                      <li  class="li-shocial" ><a style="color: rgb(255, 0, 187);"  aria-label="instagram" href="https://www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a></li>
                      <li  class="li-shocial"  ><a style="color: rgba(5, 5, 248, 0.879);"  aria-label="linkedin" href="https://fr.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a></li>
                      
              </ul>
            </div>
            <p class="right-reserved">© 2024.. All rights reserved.</p>
          </div>
  
          <div class="part2-footer">
            <div class="list-footer1">
              <h3 class="hading-footer1"><span>Take a tour </span></h3>
              <ul>
                <li><a>Features</a>F</li>
                <li><a></a>Partners</li>
                <li>Pricing</li>
                <li>Product</li>
                <li>Support</li>
              </ul>
            </div>
              <div class="list-footer2">
                <h3 class="hading-footer2"><span>Our Company </span></h3>
                <ul>
                  <li><a></a>About UsF</li>
                  <li><a></a>Agents</li>
                  <li>Blog</li>
                  <li>Media</li>
                  <li>Contact Us</li>
                </ul>
              </div>
              <div class="subscribe">
                <h3 class="subscribe">Subscribe</h3>
                <p class="paragraph-1">
                  Subscribe to get latest property, blog news from us
                </p>
                <div class="subscription-input-group">
                  <form action="#">
                    <input
                      type="email"
                      class="subscription-input-form"
                      placeholder="email address"
                    />
                    <i class="fa-solid fa-arrow-right"></i>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>
