<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Logoipsum</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

    <script
      src="https://kit.fontawesome.com/1c3d6e3766.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="images" href="assets/logo/vector.css" />
  </head>
  <body>
    <!--header :home...-->
    <header class="header-top">
      <div class="header-area">
        <div class="logo-nom">
          <img src="/assets/logo/Vector.jpg" alt="logo de site_web" />
          <a href="#">Logoipsum<span>.com</span>
        </div>

        <div class="div-list-header">
          <ul class="list-header">
            <li>
              <a class="action" aria-label="home" href="index.html">HOME</a>
            </li>
            <li>
              <a class="action" aria-label="proprties" href="proprtie.html"
                >PROPERTIES</a
              >
            </li>
            <li>
              <a class="active" aria-label="blogs" href="blog.html">BLOG</a>
            </li>
            <li>
              <a class="action" aria-label="contact" href="contact.html"
                >CONTACT</a
              >
            </li>
            <li class="button-login"><a href="#">LOG IN</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!--fin de header-->

    <!-- main -->

    <main>
        <section class="hero">
            <div class="hero-title">
              <h1>Easy way to find a perfect property</h1>
            </div>
            <div class="hero-text">
              <p>
                We provide a complete service for the sale, purchase or rental of
                real estate.
              </p>
            </div>
            <div class="search">
              <div class="serv-type">
                <ul>
                  <li class="serv-item"><button aria-label="button" type="button">Rent</button></li>
                  <li class="serv-item"><button aria-label="button" type="button">Buy</button></li>
                  <li class="serv-item"><button aria-label="button" type="button">Sell</button></li>
                </ul>
              </div>
              <div class="hero-inputs">
                <div class="inp-card">
                  <label class="inp-lebels" for="location">Location</label>
                  <div class="inp-row">
                    <select id="location" name="location" class="form-control">
                      <option value="" disabled selected>
                        Select your country
                      </option>
                      <option value="Afghanistan">Afghanistan</option>
                      <option value="Åland Islands">Åland Islands</option>
                      <option value="Albania">Albania</option>
                      <option value="Algeria">Algeria</option>
                      <option value="American Samoa">American Samoa</option>
                    </select>
                    <div class="inp-icon">
                      <span><i class="fa-solid fa-location-crosshairs"></i></span>
                    </div>
                  </div>
                </div>
                <div class="inp-card">
                  <label class="inp-lebels" for="propertyType">Property Type</label>
                  <div class="inp-row">
                    <select
                      id="propertyType"
                      name="propertyType"
                      class="form-control"
                    >
                      <option value="" disabled selected>
                        Select property type
                      </option>
                      <option value="single-family-home">Single-Family Home</option>
                      <option value="condominium">Condominium (Condo)</option>
                      <option value="townhouse">Townhouse</option>
                      <option value="multi-family-home">Multi-Family Home</option>
                      <option value="apartment">Apartment</option>
                      <option value="cooperative">Cooperative (Co-op)</option>
                      <option value="loft">Loft</option>
                      <option value="villa">Villa</option>
                      <option value="cottage">Cottage</option>
                    </select>
                    <div class="inp-icon">
                      <span><i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                  </div>
                </div>
                <div class="inp-card">
                  <label for="priceRange" class="inp-lebels">Price Range</label>
                  <div class="inp-row">
                    <select id="priceRange" name="priceRange" class="form-control">
                      <option value="" disabled selected>Select price range</option>
                      <option value="under-50k">Under $50,000</option>
                      <option value="50k-100k">$50,000 - $100,000</option>
                      <option value="100k-200k">$100,000 - $200,000</option>
                      
                    </select>
    
                    <div class="inp-icon">
                      <span><i class="fa-solid fa-tag"></i></span>
                    </div>
                  </div>
                </div>
                <div class="inp-submit">
                  <button aria-label="button" type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </div>
            </div>
          </section>
          
          <section class="available-locations">
            <div class="location-content">
              <div class="location-heading">
                <h1>We are available in many popular countries</h1>
              </div>
              <div class="location-cards">
                <div class="location-card">
                  <div class="card-image">
                    <img src="/assets/images/home/Rectangle 9.jpg" alt="USA" />
                  </div>
                  <div class="card-title">
                    <h3>America</h3>
                  </div>
                </div>
                <div class="location-card">
                  <div class="card-image">
                    <img src="/assets/images/home/Rectangle 10.jpg" alt="Spain" />
                  </div>
                  <div class="card-title">
                    <h3>Spain</h3>
                  </div>
                </div>
                <div class="location-card">
                  <div class="card-image">
                    <img src="/assets/images/home/Rectangle 11.jpg" alt="UK" />
                  </div>
                  <div class="card-title">
                    <h3>London</h3>
                  </div>
                </div>
                <div class="location-card">
                  <div class="card-image">
                    <img src="/assets/images/home/Rectangle 12.jpg" alt="France" />
                  </div>
                  <div class="card-title">
                    <h3>France</h3>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section class="new-listings">
            <div class="listing-content">
              <div class="listing-heading">
                <div class="listing-left">
                  <h1>Recently Added</h1>
                </div>
                <div class="listing-right">
                  <a href="#" target="_blank" rel="noopener noreferrer">See All</a>
                </div>
              </div>
              <div class="listing-cards">
                <div class="listing-card">
                  <div class="listing-image">
                    <img src="/assets/images/home/Rectangle 7.jpg" alt="property" />
                  </div>
                  <div class="listing-details">
                    <div class="listing-title">
                      <h3>103/143 West Street, Crows Nest</h3>
                    </div>
                    <div class="listing-features">
                      <ul class="features-list">
                        <li class="feature-item">10 Bedrooms</li>
                        <li class="feature-item">150M</li>
                        <li class="feature-item">2 Garages</li>
                      </ul>
                    </div>
                    <div class="listing-bottom">
                      <div class="listing-agent">
                        <h4>Posted by X Buildery</h4>
                      </div>
                      <div class="listing-price">
                        <span>$45,545</span>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="listing-card">
                  <div class="listing-image">
                    <img src="/assets/images/home/Rectangle 7 (7).jpg" alt="property" />
                  </div>
                  <div class="listing-details">
                    <div class="listing-title">
                      <h3>103/143 West Street, Crows Nest</h3>
                    </div>
                    <div class="listing-features">
                      <ul class="features-list">
                        <li class="feature-item">10 Bedrooms</li>
                        <li class="feature-item">150M</li>
                        <li class="feature-item">2 Garages</li>
                      </ul>
                    </div>
                    <div class="listing-bottom">
                      <div class="listing-agent">
                        <h4>Posted by X Buildery</h4>
                      </div>
                      <div class="listing-price">
                        <span>$45,545</span>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="listing-card">
                  <div class="listing-image">
                    <img src="/assets/images/home/Rectangle 7 (1).jpg" alt="property" />
                  </div>
                  <div class="listing-details">
                    <div class="listing-title">
                      <h3>103/143 West Street, Crows Nest</h3>
                    </div>
                    <div class="listing-features">
                      <ul class="features-list">
                        <li class="feature-item">10 Bedrooms</li>
                        <li class="feature-item">150M</li>
                        <li class="feature-item">2 Garages</li>
                      </ul>
                    </div>
                    <div class="listing-bottom">
                      <div class="listing-agent">
                        <h4>Posted by X Buildery</h4>
                      </div>
                      <div class="listing-price">
                        <span>$45,545</span>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="listing-card">
                  <div class="listing-image">
                    <img src="/assets/images/home/Rectangle 7 (3).jpg" alt="property" />
                  </div>
                  <div class="listing-details">
                    <div class="listing-title">
                      <h3>103/143 West Street, Crows Nest</h3>
                    </div>
                    <div class="listing-features">
                      <ul class="features-list">
                        <li class="feature-item">10 Bedrooms</li>
                        <li class="feature-item">150M</li>
                        <li class="feature-item">2 Garages</li>
                      </ul>
                    </div>
                    <div class="listing-bottom">
                      <div class="listing-agent">
                        <h4>Posted by X Buildery</h4>
                      </div>
                      <div class="listing-price">
                        <span>$45,545</span>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="listing-card">
                  <div class="listing-image">
                    <img src="/assets/images/home/Rectangle 7 (4).jpg" alt="property" />
                  </div>
                  <div class="listing-details">
                    <div class="listing-title">
                      <h3>103/143 West Street, Crows Nest</h3>
                    </div>
                    <div class="listing-features">
                      <ul class="features-list">
                        <li class="feature-item">10 Bedrooms</li>
                        <li class="feature-item">150M</li>
                        <li class="feature-item">2 Garages</li>
                      </ul>
                    </div>
                    <div class="listing-bottom">
                      <div class="listing-agent">
                        <h4>Posted by X Buildery</h4>
                      </div>
                      <div class="listing-price">
                        <span>$45,545</span>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="listing-card">
                  <div class="listing-image">
                    <img src="/assets/images/home/Rectangle 7 (2).jpg" alt="property" />
                  </div>
                  <div class="listing-details">
                    <div class="listing-title">
                      <h3>103/143 West Street, Crows Nest</h3>
                    </div>
                    <div class="listing-features">
                      <ul class="features-list">
                        <li class="feature-item">10 Bedrooms</li>
                        <li class="feature-item">150M</li>
                        <li class="feature-item">2 Garages</li>
                      </ul>
                    </div>
                    <div class="listing-bottom">
                      <div class="listing-agent">
                        <h4>Posted by X Buildery</h4>
                      </div>
                      <div class="listing-price">
                        <span>$45,545</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          
          <section class="get-in-touch">
            <div class="contact-title">
              <h1>Find Your Dream Home</h1>
            </div>
            <div class="contact-description">
              <p>
                We provide complete services for buying, selling, or renting homes.
              </p>
            </div>
            <div class="contact-button">
              <a href="#" target="_blank" rel="noopener noreferrer">Contact Us</a>
            </div>
          </section>
          
    </main>
    <footer class="footer">
      <div class="footer-1">
        <div class="part1-footer">
          <!--logo et nome -->
          <div class="logo-nom">
            <img src="/assets/logo/Vector.jpg" alt="logo de site_web" />
            <a href="#">Logoipsum.com</a>
          </div>
          <div class="paragraph">
            <p class="paragraph-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut
              enim ad minim veniam, quis nostrud exercitation ullamco<br> laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="res_shocial">
            <ul class="list-shocial">
                    <li class="li-shocial" ><a  style="color: blue;" aria-label="facebouk" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li  class="li-shocial"  ><a style="color: rgba(35, 26, 150, 0.616);"  aria-label="X" href="https://x.com/"><i class="fa-brands fa-twitter"></i></a></li>
                    <li  class="li-shocial" ><a style="color: rgb(255, 0, 187);"  aria-label="instagram" href="https://www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li  class="li-shocial"  ><a style="color: rgba(5, 5, 248, 0.879);"  aria-label="linkedin" href="https://fr.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a></li>
                    
            </ul>
          </div>
          <p class="right-reserved">© 2024.. All rights reserved.</p>
        </div>

        <div class="part2-footer">
          <div class="list-footer1">
            <h3 class="hading-footer1"><span>Take a tour </span></h3>
            <ul>
              <li><a>Features</a>F</li>
              <li><a></a>Partners</li>
              <li>Pricing</li>
              <li>Product</li>
              <li>Support</li>
            </ul>
          </div>
            <div class="list-footer2">
              <h3 class="hading-footer2"><span>Our Company </span></h3>
              <ul>
                <li><a></a>About UsF</li>
                <li><a></a>Agents</li>
                <li>Blog</li>
                <li>Media</li>
                <li>Contact Us</li>
              </ul>
            </div>
            <div class="subscribe">
              <h3 class="subscribe">Subscribe</h3>
              <p class="paragraph-1">
                Subscribe to get latest property, blog news from us
              </p>
              <div class="subscription-input-group">
                <form action="#">
                  <input
                    type="email"
                    class="subscription-input-form"
                    placeholder="email address"
                  />
                  <i class="fa-solid fa-arrow-right"></i>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
