<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Logoipsum</title>
    <script src="https://kit.fontawesome.com/1c3d6e3766.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" type="images" href="../assets/logo/Vector.jpg">
 </head>
 <body>
    <!--header :home...-->
    <header  class="header-top">
        <div class="header-area">
            <div class="logo-nom">
            <img src="../assets/logo/Vector.jpg" alt="logo de site_web">
            <a href="#" >Logoipsum<br>.com</a>
        </div>

            <div class="div-list-header">
                <ul class="list-header">
                    <li><a class="action" aria-label="home" href="index.html">HOME</a></li>
                    <li><a class="active" aria-label="proprties" href="proprtie.html">PROPERTIES</a></li>
                    <li><a class="action" aria-label="blogs" href="blog.html">BLOG</a></li>
                    <li><a class="action" aria-label="contact" href="contact.html">CONTACT</a></li>
                    <li class="action" class="button-login"><a href="#">LOG IN</a></li>
                </ul>
            </div>
        </div>
    </header> <!--fin de header-->
    <!--section de proprties-->
    <section id="explore" class="explore">
        <div class="container">
            <div class="section-header">
                <h2>Featured Properties</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div><!--/.section-header-->
            <div class="explore-content">
                <div class="row">
                    <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="/assets/images/PROPRORTIES/image 1.jpg" alt="explore image">
                                <div class="single-explore-img-info">
                                    <h2><a href="#" >Logement entier</a></h2>
                                    <div class="property-info">
                                        <div class="location">
                                            <i class="fa-solid fa-location"></i>
                                            <span>Ifran, Maroc</span>
                                        </div>
                                        <div class="price" style="color: brown;">$2230</div>
                                        <div class="details">
                                            <span><i class="fa-solid fa-bed"></i> 5 beds</span>
                                            <span><i class="fa-solid fa-bath"></i> 2 baths</span>
                                        </div>
                                    </div>
                                    
                                 </div>
                            </div>
                        </div>
                     </div>
                     <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="/assets/images/PROPRORTIES/image 8.jpg" alt="explore image">
                                <div class="single-explore-img-info">
                                    <h2><a href="#" >Room in Guest room - Gite Tawada - Haut-atlas - Room for 4 people</a></h2>
                                    <div class="property-info">
                                        <div class="location">
                                            <i class="fa-solid fa-location"></i>
                                            <span>Kasbah Ait Bouguemez, 22000 Agouti, Morocco</span>
                                        </div>
                                        <div class="price" style="color: brown;">$30</div>
                                        <div class="details">
                                            <span><i class="fa-solid fa-bed"></i> 5 beds</span>
                                            <span><i class="fa-solid fa-bath"></i> 2 baths</span>
                                        </div>
                                    </div>
                                    
                                 </div>
                            </div>
                        </div>
                     </div>
                     <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="/assets/images/PROPRORTIES/Article.jpg" alt="explore image">
                                <div class="single-explore-img-info">
                                    <h2><a href="#" >Apartments in Taza</a></h2>
                                    <div class="property-info">
                                        <div class="location">
                                            <i class="fa-solid fa-location"></i>
                                            <span>Ifran, Maroc</span>
                                        </div>
                                        <div class="price" style="color: brown;">$30</div>
                                        <div class="details">
                                            <span><i class="fa-solid fa-bed"></i> 3 beds</span>
                                            <span><i class="fa-solid fa-bath"></i> 1 baths</span>
                                        </div>
                                    </div>
                                    
                                 </div>
                            </div>
                        </div>
                     </div>
                     <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="/assets/images/PROPRORTIES/image 7.jpg" alt="explore image">
                                <div class="single-explore-img-info">
                                    <h2><a href="#" >Riad Taourirte</a></h2>
                                    <div class="property-info">
                                        <div class="location">
                                            <i class="fa-solid fa-location"></i>
                                            <span>GFG7+C5V, Tinghir, 45800 Tinghir, Morocco</span>
                                        </div>
                                        <div class="price" style="color: brown;">$30</div>
                                        <div class="details">
                                            <span><i class="fa-solid fa-bed"></i> 2 beds</span>
                                            <span><i class="fa-solid fa-bath"></i> 2 baths</span>
                                        </div>
                                    </div>
                                    
                                 </div>
                            </div>
                        </div>
                     </div>
                     <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="/assets/images/PROPRORTIES/image (6).jpg" alt="explore image">
                                <div class="single-explore-img-info">
                                    <h2><a href="#" >Room </a></h2>
                                    <div class="property-info">
                                        <div class="location">
                                            <i class="fa-solid fa-location"></i>
                                            <span>Ouzoud, Morocco</span>
                                        </div>
                                        <div class="price" style="color: brown;">$20</div>
                                        <div class="details">
                                            <span><i class="fa-solid fa-bed"></i> 1 beds</span>
                                            <span><i class="fa-solid fa-bath"></i> 1 baths</span>
                                        </div>
                                    </div>
                                    
                                 </div>
                            </div>
                        </div>
                     </div>
                     
                     <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="/assets/images/PROPRORTIES/image 6.jpg" alt="explore image">
                                <div class="single-explore-img-info">
                                    <h2><a href="#" >Marrakech M Avenue CR 7 appart terrace</a></h2>
                                    <div class="property-info">
                                        <div class="location">
                                            <i class="fa-solid fa-location"></i>
                                            <span>Rue Camille cabana hivernage garden</span>
                                        </div>
                                        <div class="price" style="color: brown;">$50</div>
                                        <div class="details">
                                            <span><i class="fa-solid fa-bed"></i> 3 beds</span>
                                            <span><i class="fa-solid fa-bath"></i> 2 baths</span>
                                        </div>
                                    </div>
                                    
                                 </div>
                            </div>
                        </div>
                     </div>
                     <div class="button-properties">
                     <button aria-label="next-properties"><a href="#">See All Listing</a><i class="fa-solid fa-arrow-right"></i></button>

                    </div>


                </div>
            </div>
        </div>





    </section>
    <!--footer-->
    <footer class="footer">
        <div class="footer-1">
            <!--logo et nome -->
            <div class="logo-nom">
                <img src="/assets/logo/Vector.jpg" alt="logo de site_web">
            <a href="#" >Logoipsum<br>.com</a>
            </div> 
            <div class="paragraph">
                <p class="paragraph-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="res_shocial">
                <img src="/../assets/images/ressocial/Facebook - Original.png" alt="probleme" title="facebook">
                <img src="/../assets/images/ressocial/Instagram - Original.png" alt="probleme" title="Instagram">
                <img src="/../assets/images/ressocial/LinkedIn - Original.png" alt="probleme" title="LinkedIn">
                <img src="/../assets/images/ressocial/Twitter - Original.png" alt="probleme" title="Twitter">
            </div>
            <div class="list-footer">
                <div class="list-footer1">
                    <h3 class="hading-footer1"><span>Take a tour </span></h3>
                    <ul>
                        <li><a>Features</a>F</li>
                        <li><a></a>Partners</li>
                        <li>Pricing</li>
                        <li>Product</li>
                        <li>Support</li>
                    </ul>
                    <div class="list-footer2">
                        <h3 class="hading-footer2"><span>Our Company </span></h3>
                        <ul>
                            <li><a>About Us</a>F</li>
                            <li><a></a>Agents</li>
                            <li>Blog</li>
                            <li>Media</li>
                            <li>Contact Us</li>
                        </ul>

                    </div>
                    <div class="subscribe">
                        <h3 class="subscribe">Subscribe</h3>
                        <p class="paragraph-1">Subscribe to get latest property, blog news from us</p>
                        <div class="subscription-input-group">
							<form action="#">
								<input type="email" class="subscription-input-form" placeholder="email address">
								<i class="fa-solid fa-arrow-right"></i>
							</form>
						</div>
                    </div>
                </div>
            </div>

        </div>

    </footer>
    
 </body>
 </html>