<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Description de votre site, qui résume son contenu et attire les utilisateurs.">
    
    <title>Logoipsum</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="https://kit.fontawesome.com/1c3d6e3766.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="images" href="assets/logo/vector.css">
</head>
 <body>
    <!--header :home...-->
    <header class="header-top">
        <div class="header-area">
          <div class="logo-nom">
            <img src="/assets/logo/Vector.jpg" alt="logo de site_web"  width="500" height="300" />
            <a href="#">Logoipsum<span>.com</span>
          </div>
  
          <div class="div-list-header">
            <ul class="list-header">
              <li>
                <a class="action" aria-label="home" href="index.html">HOME</a>
              </li>
              <li>
                <a class="action" aria-label="proprties" href="proprtie.html"
                  >PROPERTIES</a
                >
              </li>
              <li>
                <a class="active" aria-label="blogs" href="blog.html">BLOG</a>
              </li>
              <li>
                <a class="action" aria-label="contact" href="contact.html"
                  >CONTACT</a
                >
              </li>
              <li class="button-login"><a href="#">LOG IN</a></li>
            </ul>
          </div>
        </div>
      </header> <!--fin de header-->
    <!--section de proprties-->
    <section class="explore">
    <div class="container-proprtie">
        <div class="section-header">
            <h2>Featured Properties</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="explore-content">
            <div class="single-explore-item">
                <div class="single-explore-img">
                    <img src="/assets/images/PROPRORTIES/image 1.jpg" alt="explore image">
                    <div class="single-explore-img-info">
                        <h2><a style="color: black;" href="#">Logement entier</a></h2>
                        <div class="property-info">
                            <div class="location">
                                <i class="fa-solid fa-location"></i>
                                <span>Ifran, Maroc</span>
                            </div>
                            <div class="price" style="color: brown;">$2230</div>
                            <div class="details">
                                <span><i class="fa-solid fa-bed"></i> 5 beds</span>
                                <span><i class="fa-solid fa-bath"></i> 2 baths</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-explore-item">
                <div class="single-explore-img">
                    <img src="/assets/images/PROPRORTIES/image 8.jpg" alt="explore image">
                    <div class="single-explore-img-info">
                        <h2><a style="color: black;" href="#">Room in Guest room - Gite Tawada - Haut-atlas - Room for 4 people</a></h2>
                        <div class="property-info">
                            <div class="location">
                                <i class="fa-solid fa-location"></i>
                                <span>Kasbah Ait Bouguemez, 22000 Agouti, Morocco</span>
                            </div>
                            <div class="price" style="color: brown;">$30</div>
                            <div class="details">
                                <span><i class="fa-solid fa-bed"></i> 5 beds</span>
                                <span><i class="fa-solid fa-bath"></i> 2 baths</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="single-explore-item">
                <div class="single-explore-img">
                    <img src="/assets/images/PROPRORTIES/image (6).jpg" alt="explore image">
                    <div class="single-explore-img-info">
                        <h2><a style="color: black;" href="#">Chambre en colocation - Quartier Latin</a></h2>
                        <div class="property-info">
                            <div class="location">
                                <i class="fa-solid fa-location"></i>
                                <span>Quartier Latin, Paris, France</span>
                            </div>
                            <div class="price" style="color: brown;">$600/mois</div>
                            <div class="details">
                                <span><i class="fa-solid fa-bed"></i> 1 lit</span>
                                <span><i class="fa-solid fa-bath"></i> 1 salle de bain</span>
                            </div>
                        </div>
                    </div>
                    
                        </div>
             </div>
                
            
            <div class="single-explore-item">
                <div class="single-explore-img">
                    <img src="/assets/images/PROPRORTIES/image 7.jpg" alt="explore image">
                    <div class="single-explore-img-info">
                        <h2><a style="color: black;" href="#">Chambre partagée - Centre-ville</a></h2>
                        <div class="property-info">
                            <div class="location">
                                <i class="fa-solid fa-location"></i>
                                <span>Centre-ville, Lyon, France</span>
                            </div>
                            <div class="price" style="color: brown;">$300</div>
                            <div class="details">
                                <span><i class="fa-solid fa-bed"></i> 4 lits</span>
                                <span><i class="fa-solid fa-bath"></i> 2 salles de bain</span>
                            </div>
                        </div>
                    </div>
                    
                        </div>
             </div>
              
            <div class="single-explore-item">
                <div class="single-explore-img">
                    <img src="/assets/images/blog/image (4).jpg" alt="explore image">
                    <div class="single-explore-img-info">
                        <h2><a style="color: black;" href="#">Colocation dans un loft - Belleville</a></h2>
                        <div class="property-info">
                            <div class="location">
                                <i class="fa-solid fa-location"></i>
                                <span>Belleville, Paris, France</span>
                            </div>
                            <div class="price" style="color: brown;">$400/mois</div>
                            <div class="details">
                                <span><i class="fa-solid fa-bed"></i> 3 lits</span>
                                <span><i class="fa-solid fa-bath"></i> 1 salle de bain</span>
                              
                        </div>
                    </div>
                    
                        </div>
                    </div>
                </div>
           
            <div class="single-explore-item">
                <div class="single-explore-img">
                    <img src="/assets/images/blog/image (5).jpg" alt="explore image">
                    <div class="single-explore-img-info">
                        <h2><a style="color: black;" href="#">Chambre à louer - Appartement à Montmartre</a></h2>
                        <div class="property-info">
                            <div class="location">
                                <i class="fa-solid fa-location"></i>
                                <span>Montmartre, Paris, France</span>
                            </div>
                            <div class="price" style="color: brown;">$50</div>
                            <div class="details">
                                <span><i class="fa-solid fa-bed"></i> 2 lits</span>
                                <span><i class="fa-solid fa-bath"></i> 1 salle de bain</span>
                            </div>
                        </div>
                    </div>
                    
                        </div>
                    </div>
                
            
           
        </div>
    </div>
</section>

    <!--footer-->
    <footer class="footer">
        <div class="footer-1">
          <div class="part1-footer">
            <!--logo et nome -->
            <div class="logo-nom">
              <img src="/assets/logo/Vector.jpg" alt="logo de site_web" />
              <a href="#">Logoipsum.com</a>
            </div>
            <div class="paragraph">
              <p class="paragraph-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut
                enim ad minim veniam, quis nostrud exercitation ullamco<br> laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <div class="res_shocial">
              <ul class="list-shocial">
                      <li class="li-shocial" ><a  style="color: blue;" aria-label="facebouk" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                      <li  class="li-shocial"  ><a style="color: rgba(35, 26, 150, 0.616);"  aria-label="X" href="https://x.com/"><i class="fa-brands fa-twitter"></i></a></li>
                      <li  class="li-shocial" ><a style="color: rgb(255, 0, 187);"  aria-label="instagram" href="https://www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a></li>
                      <li  class="li-shocial"  ><a style="color: rgba(5, 5, 248, 0.879);"  aria-label="linkedin" href="https://fr.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a></li>
                      
              </ul>
            </div>
            <p class="right-reserved">© 2024.. All rights reserved.</p>
          </div>
  
          <div class="part2-footer">
            <div class="list-footer1">
              <h3 class="hading-footer1"><span>Take a tour </span></h3>
              <ul>
                <li><a>Features</a>F</li>
                <li><a></a>Partners</li>
                <li>Pricing</li>
                <li>Product</li>
                <li>Support</li>
              </ul>
            </div>
              <div class="list-footer2">
                <h3 class="hading-footer2"><span>Our Company </span></h3>
                <ul>
                  <li><a></a>About UsF</li>
                  <li><a></a>Agents</li>
                  <li>Blog</li>
                  <li>Media</li>
                  <li>Contact Us</li>
                </ul>
              </div>
              <div class="subscribe">
                <h3 class="subscribe">Subscribe</h3>
                <p class="paragraph-1">
                  Subscribe to get latest property, blog news from us
                </p>
                <div class="subscription-input-group">
                  <form action="#">
                    <input
                      type="email"
                      class="subscription-input-form"
                      placeholder="email address"
                    />
                    <i class="fa-solid fa-arrow-right"></i>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
 </body>
 </html>